<link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<div class="navbar navbar-dark bg-dark shadow-sm mb-3">
    <div class="container d-flex justify-content-between">
        <a href="/notices" class="navbar-brand d-flex align-items-center">
            <strong>공지사항</strong>
        </a>
        <a th:if="${role == null}" href="/login-form" class="navbar-brand d-flex align-items-end">
            <strong>로그인</strong>
        </a>
        <a th:if="${role != null}" href="/logout" class="navbar-brand d-flex align-items-end">
            <strong>로그아웃</strong>
        </a>
    </div>
</div>